.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    padding-top: 1.1rem;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .content {
        padding-top: 2rem;
    }
}
